header {
    width: auto;
    position: static;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: var(--secondary-color); /* Example background color */
  }
  
  .header-left, .header-right {
    display: flex;
    align-items: center;
  }
  
  .header-left p {
    font-family: var(--font-family-title);
  }
  .header-right p {
    font-family: var(--font-family-body);
    margin-left: 5vw; /* Spacing between right-aligned items */
  }
  
  a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.2em;
  }
  
  /* Example Responsive adjustments */
  @media screen and (max-width: 480px) {

    .header{
        padding: 0%;
    }
    .header-right {
        color: white;
        flex-wrap: wrap;
        font-size: 0em;
    }
  }
  